<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curated Videos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="ui large top fixed menu">
        <div class="ui container">
            <a class="active_item" href="/">Hermes Hat</a>
            <div class="right menu">
                <!-- <a class="item" href="/economics">Economics</a> -->
                <a class="item" href="/photographs">Photography</a>
                <a class="item" href="/media">Media</a>
                <a class="item" href="/about">About</a>
                {% if not g.user_logged_in %}
                    <a class="item" href="/login">
                        <i class="fas fa-lock"></i>
                    </a>
                {% else %}
                    <a class="item" href="/logout">
                        <i class="fas fa-unlock"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        // Initialize Packery for each video-grid
        var grids = document.querySelectorAll('.video-grid');
        grids.forEach(function(grid) {
            // Wait for all iframes to load
            imagesLoaded(grid, function() {
                // Make the grid visible
                grid.style.visibility = 'visible';

                // Initialize Packery after a delay
                setTimeout(function() {
                    var pckry = new Packery(grid, {
                        itemSelector: '.video-box',
                        gutter: 10
                    });
                }, 500); // 500ms delay
            });
        });


        // Function to generate video section
        function generateVideoSection(sectionTitle, videoData) {
            let sectionHTML = `<div class="video-section" id="${sectionTitle.toLowerCase()}">`;
            sectionHTML += `<h2>${sectionTitle}</h2>`;
            sectionHTML += '<div class="video-grid">';

            videoData.forEach((video) => {
                sectionHTML += `
                    <div class="video-box">
                        <iframe 
                            width="300" 
                            src="https://www.youtube.com/embed/${video.video_id}" 
                            title="YouTube video player" 
                            loading="lazy" 
                            frameborder="0" 
                            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
                        </iframe>
                        <div class="video-details">
                            <h3>${video.title}</h3>
                        </div>
                    </div>
                `;
            });

            sectionHTML += '</div></div>';
            return sectionHTML;
        }

        // Function to fetch data and populate sections
        async function fetchDataAndGenerateSection(sectionTitle) {
            try {
                const response = await fetch(`/api/youtube_details?section=${sectionTitle.toLowerCase()}`);
                if (response.ok) {
                    const apiResponse = await response.json();
                    const sectionHTML = generateVideoSection(sectionTitle, apiResponse);
                    document.body.insertAdjacentHTML('beforeend', sectionHTML); // append the section to the body
                } else {
                    console.error('Error fetching video data:', response.statusText);
                }
            } catch (error) {
                console.error('Error during the fetch operation:', error);
            }
        }

        // Initialize sections
        const sections = ['Philosophy', 'History', 'Economics', 'Politics'];
        sections.forEach(sectionTitle => {
            fetchDataAndGenerateSection(sectionTitle);
        });
        
    </script>
</body>
</html>
